export(dRate)
export(hinge)
export(iav)
export(incr)
export(recovered)
exportMethods(kobe)
exportMethods(kobePhase)
exportMethods(kobeShade)
exportMethods(kobe2sm)
exportMethods(kobeP)
exportMethods(kobeSmry)
exportMethods(kobeTrks)
